In [1]:
import pandas as pd

## Series

In [6]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [5]:
numbers = [100,200,300,400]
pd.Series(numbers)

0    100
1    200
2    300
3    400
dtype: int64

In [22]:
#dtype is "object" for string list

In [12]:
webster = {"Horse": "an animal",
          "Apple": "a fruit",
          "blue": "a color"}

pd.Series(webster)

Apple      a fruit
Horse    an animal
blue       a color
dtype: object

In [15]:
s = pd.Series(ice_cream)

#some attributes

print s.values
print s.index
print s.dtype

['Chocolate' 'Vanilla' 'Strawberry' 'Rum Raisin']
RangeIndex(start=0, stop=4, step=1)
object

In [16]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [17]:
#some methods

s.sum()

8.8

In [18]:
s.product()

18.095480000000006

In [19]:
s.mean()

2.9333333333333336

In [20]:
fruits = ["apple", "banana", "orange","mango"]
days = ["monday","tuesday","wednesday","thursday"]

pd.Series(fruits, days)                           #shift + tab (+ tab + tab) inside parenthesis

monday        apple
tuesday      banana
wednesday    orange
thursday      mango
dtype: object

In [21]:
days = ["monday","tuesday","wednesday","monday"]
pd.Series(fruits, days)  #this is difference between lists and series. Here, same index is allowed twice!

monday        apple
tuesday      banana
wednesday    orange
monday        mango
dtype: object

### CSV data into series

In [28]:
pokemon = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"], squeeze = True)   #squeeze converts output to series
pokemon.head()     #head(3) will give first three

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [29]:
google = pd.read_csv("data/google_stock_price.csv", squeeze = True)
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64