In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
path ='C:\Users\Rajan\Desktop\Stack Overflow\data'
allFiles = glob.glob(path + "/*.csv")

In [3]:
allFiles

['C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2010 1.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2010 2.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2010 3.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2010 4.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2011 1.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2011 2.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2011 3.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2011 4.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2012 1.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2012 2.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2012 3.csv',
 'C:\\Users\\Rajan\\Desktop\\Stack Overflow\\data\\Final 2012 4.csv']

In [4]:
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_, header=0)         #create separate dataframe for each file
    list_.append(df)
df = pd.concat(list_)                         #concat all dataframes into single dataframe

In [5]:
df.shape

(600000, 25)

In [6]:
df.isna().sum()

UserId                   0
UCreationDate            0
UAccessDate              0
ULocation           204885
U.Views                  0
U.Uvotes                 0
U.Dvotes                 0
PostId                   0
PostTypeId               0
PostParentId        220471
PostCreationDate         0
PostDeletionDate    600000
PostScore                0
PViewCount          380305
LEDDate             295879
LEDate              294325
LADate                   0
PTags               380305
AnswerCount         380305
CommentCount             0
FavoriteCount       455272
PClosedDate         582376
VoteId                   0
VoteTypeId               0
VCreationDate            0
dtype: int64

In [7]:
df.head(3)

,UserId,UCreationDate,UAccessDate,ULocation,U.Views,U.Uvotes,U.Dvotes,PostId,PostTypeId,PostParentId,...,LEDate,LADate,PTags,AnswerCount,CommentCount,FavoriteCount,PClosedDate,VoteId,VoteTypeId,VCreationDate
0,241766,2010-01-01 00:14:28,2015-07-17 21:38:59,New York,7,0,0,8648742,1,NaN,...,2011-12-27 20:12:38,2011-12-27 20:22:48,<sql><sql-server><tsql>,3.0,2,NaN,NaN,22532084,16,2011-12-27 00:00:00
1,241767,2010-01-01 00:16:03,2010-02-20 05:41:01,NaN,0,0,0,1987554,1,NaN,...,2010-01-01 04:44:57,2010-07-21 01:52:44,<open-source>,5.0,2,2.0,2015-06-09 19:39:15,29594249,2,2012-06-22 00:00:00
2,241767,2010-01-01 00:16:03,2010-02-20 05:41:01,NaN,0,0,0,1987554,1,NaN,...,2010-01-01 04:44:57,2010-07-21 01:52:44,<open-source>,5.0,2,2.0,2015-06-09 19:39:15,8753583,5,2010-07-21 00:00:00

In [121]:
df.columns

Index([u'UserId', u'UCreationDate', u'UAccessDate', u'ULocation', u'U.Views',
       u'U.Uvotes', u'U.Dvotes', u'PostId', u'PostTypeId', u'PostParentId',
       u'PostCreationDate', u'PostDeletionDate', u'PostScore', u'PViewCount',
       u'LEDDate', u'LEDate', u'LADate', u'PTags', u'AnswerCount',
       u'CommentCount', u'FavoriteCount', u'PClosedDate', u'VoteId',
       u'VoteTypeId', u'VCreationDate'],
      dtype='object')

In [8]:
df['PostCreationDate'] = pd.to_datetime(df['PostCreationDate'])

In [9]:
years = [2010,2011,2012]
weeks = range(1,53)
df.loc[:,'week'] = 0

n=0
for y in years:
    for w in weeks:
        n += 1
        df.loc[(df['PostCreationDate'].dt.year == y) & (df['PostCreationDate'].dt.week == w), 'week'] = n

In [49]:
years = [2010,2011,2012]
months = range(1,13)
df.loc[:,'month'] = 0

n=0
for y in years:
    for m in months:
        n += 1
        df.loc[(df['PostCreationDate'].dt.year == y) & (df['PostCreationDate'].dt.month == m), 'month'] = n

In [17]:
# Id | Name
# -- | ----------------------
# 1  | AcceptedByOriginator
# 2  | UpMod
# 3  | DownMod
# 4  | Offensive
# 5  | Favorite
# 6  | Close
# 7  | Reopen
# 8  | BountyStart
# 9  | BountyClose
# 10 | Deletion
# 11 | Undeletion
# 12 | Spam
# 15 | ModeratorReview
# 16 | ApproveEditSuggestion

df['VoteTypeId'].value_counts()

2     450110
1      67018
5      37412
3      23530
16     11795
6       3245
15      2374
11      1934
9       1238
8       1171
10       159
7         14
Name: VoteTypeId, dtype: int64

In [10]:
for i in [1,2,5,11]:
    df.loc[df['VoteTypeId']==i,'Votes']= 1 #positives

for i in [3,6,7,8,9,10,15,16]:
    df.loc[df['VoteTypeId']==i,'Votes']= 2 #negatives

In [12]:
df['Votes'].value_counts()

1.0    556474
2.0     43526
Name: Votes, dtype: int64

In [15]:
# 1 = Question
# 2 = Answer
# 3 = Orphaned tag wiki
# 4 = Tag wiki excerpt
# 5 = Tag wiki
# 6 = Moderator nomination
# 7 = "Wiki placeholder" (seems to only be the election description)
# 8 = Privilege wiki

df['PostTypeId'].value_counts()

2    379529
1    219695
4       414
5       362
Name: PostTypeId, dtype: int64

In [13]:
for i in [1,4,5]:
    df.loc[df['PostTypeId']==i,'PostType']= 1  #questions

df.loc[df['PostTypeId']==2,'PostType']= 2      #answers

In [16]:
df['PostType'].value_counts()

2.0    379529
1.0    220471
Name: PostType, dtype: int64

In [18]:
# You gain reputation when:
#         question is voted up: +5
#         answer is voted up: +10

df.loc[(df['Votes']==1)&(df['PostType']==1),'Reputation']= 5
df.loc[(df['Votes']==1)&(df['PostType']==2),'Reputation']= 10

# You lose reputation when:
#         your question is voted down: âˆ’2
#         your answer is voted down: âˆ’2

df.loc[(df['Votes']==2)&(df['PostType']==1),'Reputation']= -2
df.loc[(df['Votes']==2)&(df['PostType']==2),'Reputation']= -2

In [66]:
len(df['UserId'].unique())

26543

In [54]:
weeklyReputation = df.pivot_table(index=['UserId','week'], values='Reputation', aggfunc='sum') \
                        .sort_values(by=['week','Reputation'],ascending=[True, False]) \
                        .reset_index()

weeklyView = df.pivot_table(index=['UserId','week'], values='PViewCount', aggfunc='sum') \
                        .sort_values(by=['week','PViewCount'],ascending=[True, False]) \
                        .reset_index()

In [58]:
weeklyReputation.head()

   UserId  week  Reputation  Rank
0  242043     0      1078.0   1.0
1  242182     0       746.0   2.0
2  242532     0       510.0   3.0
3  242636     0       490.0   4.0
4  242812     0       360.0   5.0

In [50]:
monthyReputation = df.pivot_table(index=['UserId','month'], values='Reputation', aggfunc='sum') \
                        .sort_values(by=['month','Reputation'],ascending=[True, False]) \
                        .reset_index()

monthlyView = df.pivot_table(index=['UserId','month'], values='PViewCount', aggfunc='sum') \
                        .sort_values(by=['month','PViewCount'],ascending=[True, False]) \
                        .reset_index()

In [59]:
weeklyReputation['Rank'] = weeklyReputation.groupby('week')['Reputation'].rank(ascending=False)
monthyReputation['Rank'] = monthyReputation.groupby('month')['Reputation'].rank(ascending=False)

In [98]:
userdf = df[['UserId','UCreationDate','UAccessDate','ULocation','U.Views']].drop_duplicates(keep='first').reset_index()

In [102]:
df.columns

Index([u'UserId', u'UCreationDate', u'UAccessDate', u'ULocation', u'U.Views',
       u'U.Uvotes', u'U.Dvotes', u'PostId', u'PostTypeId', u'PostParentId',
       u'PostCreationDate', u'PostDeletionDate', u'PostScore', u'PViewCount',
       u'LEDDate', u'LEDate', u'LADate', u'PTags', u'AnswerCount',
       u'CommentCount', u'FavoriteCount', u'PClosedDate', u'VoteId',
       u'VoteTypeId', u'VCreationDate', u'week', u'Votes', u'PostType',
       u'Reputation', u'month'],
      dtype='object')

In [106]:
weeklyUserReputation = pd.merge(weeklyReputation ,userdf, on='UserId')
weeklyUserReputation.head()

,UserId,week,Reputation,Rank,index,UCreationDate,UAccessDate,ULocation,U.Views
0,242043,0,1078.0,1.0,5343,2010-01-01 20:59:19,2018-09-12 03:06:27,NaN,125
1,242043,1,70.0,198.5,5343,2010-01-01 20:59:19,2018-09-12 03:06:27,NaN,125
2,242043,2,10.0,489.0,5343,2010-01-01 20:59:19,2018-09-12 03:06:27,NaN,125
3,242043,6,60.0,69.5,5343,2010-01-01 20:59:19,2018-09-12 03:06:27,NaN,125
4,242182,0,746.0,2.0,8462,2010-01-02 05:19:03,2018-09-13 22:52:51,NaN,53

In [108]:
monthlyUserReputation = pd.merge(monthyReputation ,userdf, on='UserId')
monthlyUserReputation.head()

,UserId,month,Reputation,Rank,index,UCreationDate,UAccessDate,ULocation,U.Views
0,243782,1,2721.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662
1,243782,2,5648.0,2.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662
2,243782,3,4286.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662
3,243782,4,4216.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662
4,243782,5,4889.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662

In [123]:
totalweeklyActivitiy = df.groupby(['UserId','week'])['PostId'].count().reset_index()
totalweeklyActivitiy.rename({'PostId':'tCount'},axis=1,inplace=True)

weeklyQuestions = df.loc[df['PostType'] == 1,:].groupby(['UserId','week'])['PostId'].count().reset_index()
weeklyQuestions.rename({'PostId':'qCount'},axis=1,inplace=True)

weeklyAnswers = df.loc[df['PostType'] == 2,:].groupby(['UserId','week'])['PostId'].count().reset_index()
weeklyAnswers.rename({'PostId':'aCount'},axis=1,inplace=True)

In [124]:
totalmonthlyActivitiy = df.groupby(['UserId','month'])['PostId'].count().reset_index()
totalmonthlyActivitiy.rename({'PostId':'tCount'},axis=1,inplace=True)

monthlyQuestions = df.loc[df['PostType'] == 1,:].groupby(['UserId','month'])['PostId'].count().reset_index()
monthlyQuestions.rename({'PostId':'qCount'},axis=1,inplace=True)

monthlyAnswers = df.loc[df['PostType'] == 2,:].groupby(['UserId','month'])['PostId'].count().reset_index()
monthlyAnswers.rename({'PostId':'aCount'},axis=1,inplace=True)

In [133]:
#totalweeklyActivitiy.drop('index',axis=1,inplace=True)

In [136]:
weeklyDfs = [weeklyUserReputation, weeklyView, totalweeklyActivitiy, weeklyQuestions, weeklyAnswers]

#join all dataframes
weekly_final = reduce(lambda left,right: pd.merge(left,right,on=['UserId','week']), weeklyDfs)

In [138]:
weekly_final.head()

,UserId,week,Reputation,Rank,UCreationDate,UAccessDate,ULocation,U.Views,PViewCount,tCount,qCount,aCount
0,242182,2,198.0,41.0,2010-01-02 05:19:03,2018-09-13 22:52:51,NaN,53,14558.0,22,2,20
1,242182,3,205.0,28.0,2010-01-02 05:19:03,2018-09-13 22:52:51,NaN,53,1818.0,22,3,19
2,242532,5,55.0,79.5,2010-01-03 02:48:15,2018-08-20 16:32:52,Italy,226,67224.0,9,7,2
3,242532,6,50.0,80.5,2010-01-03 02:48:15,2018-08-20 16:32:52,Italy,226,720.0,6,2,4
4,242532,25,285.0,14.0,2010-01-03 02:48:15,2018-08-20 16:32:52,Italy,226,1094.0,29,1,28

In [143]:
monthlyDfs = [monthlyUserReputation, monthlyView, totalmonthlyActivitiy, monthlyQuestions, monthlyAnswers]

#join all dataframes
monthly_final = reduce(lambda left,right: pd.merge(left,right,on=['UserId','month']), monthlyDfs)

In [145]:
monthly_final.head()

,UserId,month,Reputation,Rank,index,UCreationDate,UAccessDate,ULocation,U.Views,PViewCount,tCount,qCount,aCount
0,243782,1,2721.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662,3705240.0,314,71,243
1,243782,2,5648.0,2.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662,47326865.0,807,456,351
2,243782,3,4286.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662,16171736.0,554,238,316
3,243782,4,4216.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662,19211.0,430,12,418
4,243782,5,4889.0,1.0,2454,2010-01-05 09:37:40,2018-09-15 20:22:22,"Transylvania, Romania",9662,167842573.0,852,687,165

In [146]:
weekly_final.loc[weekly_final['week'] <= 63,'changed'] = 'no'
weekly_final.loc[weekly_final['week'] > 63,'changed'] = 'yes'

In [150]:
monthly_final.loc[monthly_final['month'] <= 15,'changed'] = 'no'
monthly_final.loc[monthly_final['month'] > 15,'changed'] = 'yes'

In [178]:
weekly_final.to_csv("weekly_final.csv",index=False)

In [179]:
monthly_final.to_csv("monthly_final.csv",index=False)