In [1]:
import datetime as dt
import pandas as pd

In [3]:
bday = dt.date(1994, 12, 28)

In [6]:
bday.year
bday.month
bday.day

28

In [10]:
str(bday)

'1994-12-28'

In [11]:
sometime = dt.datetime(1994, 12, 28, 8, 30, 57)
sometime

datetime.datetime(1994, 12, 28, 8, 30, 57)

In [12]:
str(sometime)

'1994-12-28 08:30:57'

In [15]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

### Pandas Timestamp Object

In [19]:
pd.Timestamp("1994-12-28")
pd.Timestamp("1994/12/28")
pd.Timestamp("1994, 12, 28")

Timestamp('1994-12-28 00:00:00')

In [25]:
pd.Timestamp("4/3/18")

Timestamp('2018-04-03 00:00:00')

In [26]:
pd.Timestamp("1994-12-28 08:30:57")

Timestamp('1994-12-28 08:30:57')

In [27]:
pd.Timestamp("1994-12-28 08:30:57 PM")

Timestamp('1994-12-28 20:30:57')

In [28]:
pd.Timestamp(dt.date(1994, 12, 28))

Timestamp('1994-12-28 00:00:00')

### DateTimeIndex Object

In [31]:
dates = ["1994-12-28", "1989-12-9", "1994-2-7"]
dtIndex = pd.DatetimeIndex(dates)
dtIndex

DatetimeIndex(['1994-12-28', '1989-12-09', '1994-02-07'], dtype='datetime64[ns]', freq=None)

In [32]:
values = [100, 200, 300]
pd.Series(values, index = dtIndex)

1994-12-28    100
1989-12-09    200
1994-02-07    300
dtype: int64

### pd.to_datetime()

In [34]:
pd.to_datetime("1994-12-28")

Timestamp('1994-12-28 00:00:00')

In [33]:
pd.to_datetime(["1994-12-28", "1989-12-9", "1994-2-7"])

DatetimeIndex(['1994-12-28', '1989-12-09', '1994-02-07'], dtype='datetime64[ns]', freq=None)

In [37]:
pd.to_datetime(["December 28th, 1994", "2018", "9th December 1989"])    #smart

DatetimeIndex(['1994-12-28', '2018-01-01', '1989-12-09'], dtype='datetime64[ns]', freq=None)

In [39]:
pd.to_datetime(["Hello", "2018", "9th December 1989"], errors="coerce")   #NaT: Not a Time

DatetimeIndex(['NaT', '2018-01-01', '1989-12-09'], dtype='datetime64[ns]', freq=None)

In [43]:
pd.to_datetime(["1349720111", "1549720111"], unit="s")

DatetimeIndex(['2012-10-08 18:15:11', '2019-02-09 13:48:31'], dtype='datetime64[ns]', freq=None)

### pd.date_range()

In [45]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq='D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [47]:
pd.date_range(start="2016-01-01", end="2016-01-10", freq='B')   #Business Days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [48]:
pd.date_range(start="2016-01-01", end="2016-01-15", freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [50]:
pd.date_range(start="2016-01-01", end="2016-01-15", freq='12H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 12:00:00',
               '2016-01-02 00:00:00', '2016-01-02 12:00:00',
               '2016-01-03 00:00:00', '2016-01-03 12:00:00',
               '2016-01-04 00:00:00', '2016-01-04 12:00:00',
               '2016-01-05 00:00:00', '2016-01-05 12:00:00',
               '2016-01-06 00:00:00', '2016-01-06 12:00:00',
               '2016-01-07 00:00:00', '2016-01-07 12:00:00',
               '2016-01-08 00:00:00', '2016-01-08 12:00:00',
               '2016-01-09 00:00:00', '2016-01-09 12:00:00',
               '2016-01-10 00:00:00', '2016-01-10 12:00:00',
               '2016-01-11 00:00:00', '2016-01-11 12:00:00',
               '2016-01-12 00:00:00', '2016-01-12 12:00:00',
               '2016-01-13 00:00:00', '2016-01-13 12:00:00',
               '2016-01-14 00:00:00', '2016-01-14 12:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='12H')

In [53]:
pd.date_range(start="2016-01-01", end="2025-01-01", freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [55]:
pd.date_range(start="2016-01-01", periods=10, freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(end="2016-01-01", periods=10, freq="W-SUN")

DatetimeIndex(['2015-10-25', '2015-11-01', '2015-11-08', '2015-11-15',
               '2015-11-22', '2015-11-29', '2015-12-06', '2015-12-13',
               '2015-12-20', '2015-12-27'],
              dtype='datetime64[ns]', freq='W-SUN')

### .dt Accessor

In [2]:
bunch_of_dates = pd.date_range(start="2000-01-01", end="2012-12-31", freq='24D')

In [58]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [60]:
s.dt.day.head()

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [61]:
s.dt.weekday_name.head()

0    Saturday
1     Tuesday
2      Friday
3      Monday
4    Thursday
dtype: object

In [62]:
s.dt.is_quarter_start.head()

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [66]:
s.dt.is_month_end.head(6)

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [6]:
bunch_of_dates + pd.DateOffset(days=3)  # can be by weeks, months, years or all

DatetimeIndex(['2000-01-04', '2000-01-28', '2000-02-21', '2000-03-16',
               '2000-04-09', '2000-05-03', '2000-05-27', '2000-06-20',
               '2000-07-14', '2000-08-07',
               ...
               '2012-05-12', '2012-06-05', '2012-06-29', '2012-07-23',
               '2012-08-16', '2012-09-09', '2012-10-03', '2012-10-27',
               '2012-11-20', '2012-12-14'],
              dtype='datetime64[ns]', length=198, freq='24D')

In [7]:
bunch_of_dates + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-02-29', '2000-03-31',
               '2000-04-30', '2000-05-31', '2000-05-31', '2000-06-30',
               '2000-07-31', '2000-08-31',
               ...
               '2012-05-31', '2012-06-30', '2012-06-30', '2012-07-31',
               '2012-08-31', '2012-09-30', '2012-10-31', '2012-10-31',
               '2012-11-30', '2012-12-31'],
              dtype='datetime64[ns]', length=198, freq=None)

In [8]:
from pandas.tseries.offsets import *

In [10]:
bunch_of_dates + MonthEnd()
bunch_of_dates + YearEnd()

DatetimeIndex(['2000-12-31', '2000-12-31', '2000-12-31', '2000-12-31',
               '2000-12-31', '2000-12-31', '2000-12-31', '2000-12-31',
               '2000-12-31', '2000-12-31',
               ...
               '2012-12-31', '2012-12-31', '2012-12-31', '2012-12-31',
               '2012-12-31', '2012-12-31', '2012-12-31', '2012-12-31',
               '2012-12-31', '2012-12-31'],
              dtype='datetime64[ns]', length=198, freq=None)

### Timedelta Object

In [11]:
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [12]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [16]:
shipping = pd.read_csv("data/ecommerce.csv", index_col="ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [18]:
shipping["delivery_time"] = shipping["delivery_date"]-shipping["order_date"]
shipping.head(3)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [23]:
shipping[ shipping["delivery_time"] > "365 days" ].head(3)

   order_date delivery_date delivery_time
ID
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days

In [24]:
shipping["delivery_time"].min()

Timedelta('8 days 00:00:00')